@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,700i);

@import 'base/variables';
@import 'base/base';
@import 'components/buttons';
@import 'components/icons';
@import 'components/forms';
@import 'base/accessibility';
@import 'components/modules';
@import 'content/featured';
@import 'content/multipurpose';
@import 'content/cta';
@import 'content/generic';
@import 'views/search-filter';
@import 'content/cards';
@import 'content/single-post';
@import 'content/faculty';
@import 'content/_resources';
@import 'content/about';
@import 'content/faq';
@import 'components/photo-gallery';
@import 'components/section-header';
@import 'content/additional-resources';
@import 'components/featured';
@import 'content/ampersand';

ul[aria-expanded='false'] {
  display: none;
}
.access-denied-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.element-invisible {
  display: none;
}
