svg.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  fill: currentColor;
}

svg.video {
  width: 110px;
  height: 110px;
}

svg.shared-rsvp {
  margin-left: 10px;
  fill: var(--red);
}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

.js-more,
.back-to-top {
  color: var(--red);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.075em;
  font-size: 1.6em;
  margin: 0 0 40px 0;
  cursor: pointer;
}

@media all and (min-width: 1030px) {
  .js-more,
  .back-to-top {
    display: none;
  }
}

.show-all .js-more,
.show-all .back-to-top {
  display: none;
}

svg.more,
svg.top {
  vertical-align: middle;
  margin-top: -3px;
  width: 15px;
  height: 15px;
  margin-left: 3px;
  fill: currentColor;
}

svg.more {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

svg.top {
  margin-top: -5px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.js-more-wrap {
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media all and (min-width: 1030px) {
  .js-more-wrap {
    visibility: visible;
    height: auto;
    opacity: 1;
  }
}

.js-more-wrap .back-to-top {
  display: none;
}

.show-all .js-more-wrap {
  visibility: visible;
  height: auto;
  opacity: 1;
}

.show-all .js-more-wrap .back-to-top {
  display: block;
}

.fancybox-type-iframe .fancybox-close.button {
  display: none;
}

.fancybox-type-iframe .fancybox-close {
  right: -30px;
  top: -30px;
  color: #fff;
}
.user-logged-out {
  nav.tabs-wrapper {
    display: none;
  }
}
