/*--------------------------------------------------------------
# Photo Header
--------------------------------------------------------------*/

#photo-header {
  text-align: center;
  color: #fff;
  background: var(--dark-gray);
  box-sizing: border-box;
  background-color: var(--dark-gray);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#photo-header.red {
  background: var(--dark-red);
}

#photo-header.red h1 {
  color: #fff;
}

#photo-header.white h1 {
  color: var(--dark-gray);
}

#photo-header.white {
  background: #fff;
  color: var(--darkest-gray);
}

#photo-header .image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

#photo-header img {
  display: block;
}
#photo-header picture img {
  visibility: hidden;
}

#photo-header .container {
  max-width: 830px;
  position: relative;
  z-index: 1;
  padding: 60px 0;
}

.page-node-type-courses #photo-header h1 {
  line-height: 1.3;
  color: var(--gold) !important;
}

#photo-header h1 {
  line-height: 1.3;
  color: var(--gold);
}

#photo-header .ampersand {
  fill: var(--red);
  position: absolute;
  left: 25%;
  top: -5px;
  bottom: -5px;
  opacity: 0.5;
}

#photo-header .ampersand svg {
  height: 100%;
  width: 515px;
}

#photo-header p {
  text-transform: uppercase;
  font-weight: bold;
}

#photo-header .button {
  margin: 0 20px;
}

#photo-header .button:hover {
  background: rgba(255, 255, 255, 0.25);
}

.not-found #photo-header .container {
  max-width: 600px;
}

.not-found #photo-header h1 {
  font-family: var(--sans-serif);
  line-height: 1;
  margin-bottom: 10px;
  color: var(--gold);
}

.not-found #photo-header p {
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.25em;
}

.events #photo-header .dots {
  position: absolute;
  z-index: 1;
  top: -25px;
  width: 100%;
  left: 50%;
  max-width: 850px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media all and (min-width: 768px) {
  #photo-header {
    min-height: 415px;
  }
  #photo-header .image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.6;
  }
  .events #photo-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .events #photo-header .dots {
    position: absolute;
    z-index: 1;
    //bottom: 55px;
    bottom: 0px;
    width: 100%;
    left: 50%;
    height: 30px;
    top: unset;
    max-width: 850px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .events #photo-header .dots .slick-dots li.slick-active button:before,
  .events #photo-header .dots .slick-dots li:hover button:before {
    background: #fff !important;
  }
  .events #photo-header .dots .slick-dots button::before {
    background: rgba(1, 1, 1, 0.3) !important;
  }
  .events #photo-header .dots .slick-dots {
    left: 0;
    width: 200px;
    bottom: 20px;
    top: unset;
  }
  #photo-header .featured-events .image {
    opacity: 1;
  }
  #photo-header.no-text .image {
    opacity: 0.76;
  }
  #photo-header .container {
    padding: 150px 0 120px;
  }
  #photo-header p {
    font-size: 1.25em;
  }
  .academic-calendar #photo-header .image {
    opacity: 0.32;
  }
  .not-found #photo-header h1 {
    font-size: 150px;
  }
  .not-found #photo-header p {
    font-size: 45px;
  }
}

@media all and (min-width: 1030px) {
  #photo-header .ampersand {
    left: 50%;
  }
}

@media (max-width: 768px) {
  #events {
    .slick-dots {
      bottom: auto;
      text-align: left;
    }
    #photo-header {
      .image {
        max-height: 350px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0.6;
      }
      img {
        display: block;
        max-height: 100%;
      }
    }
    .featured-posts {
      .event-post {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        .post-content {
          padding: 0 40px 20px;
        }
      }
    }
  }
}
@media all and (max-width: 599px) {
  // body:not(.node-type-ampersand-landing-page):not(.not-found) #photo-header .image{
  //   background-image: none !important;
  // }
  // #photo-header picture img {
  //  display: none !important;
  // }

  .academic-calendar #photo-header {
    display: none;
  }
  .not-found #photo-header p {
    font-weight: 400;
  }
  .not-found #photo-header .button {
    margin: 0 10px !important;
  }
  .not-found #views-exposed-form-search-page {
    margin-left: -21%;
  }
}
