/*--------------------------------------------------------------
# secondary-nav
--------------------------------------------------------------*/

#secondary-nav {
  font-size: 1.45em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.16em;
  margin-bottom: 25px;
  color: var(--gold);
}

#secondary-nav ul {
  margin-bottom: 25px;
}

#secondary-nav a {
  color: inherit;
  display: inline-block;
  margin: 6px 0;
}

#secondary-nav a:hover {
  color: #fff;
}

#secondary-nav a.active {
  color: inherit;
}

#secondary-nav:after {
  content: '';
  display: block;
  height: 1px;
  background: #fff;
  max-width: 190px;
}

#footer .additional-links,
#footer .copyright,
#footer .quicklinks,
#footer .wustl {
  letter-spacing: 0.075em;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}

#footer {
  color: #fff;
}

#footer a.active {
  color: inherit;
}

#footer .footer-top {
  background: var(--dark-gray);
}

#footer .footer-nav {
  padding: 50px 7.5%;
  box-sizing: border-box;
}

#footer .quicklinks {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 1.2em;
  font-weight: 600;
}

#footer .quicklinks li {
  margin: 4px 0;
  display: inline-block;
  width: 100%;
}

#footer .quicklinks a {
  color: var(--light-blue);
}

#footer .quicklinks a:hover {
  color: #fff;
}

#footer .logo,
.combo .wysiwyg .button svg {
  fill: currentColor;
}

#footer .additional-links {
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 50px;
}

#footer .additional-links li {
  margin: 12px 0;
}

#footer .additional-links .icon {
  fill: var(--light-blue);
  margin-right: 8px;
}

#footer .additional-links a:hover {
  color: var(--light-blue);
}

#footer .social-links {
  color: var(--dark-gray);
  margin-bottom: 50px;
}

#footer .social-links li {
  margin: 0 4px;
}

#footer .social-links li:first-child {
  margin-left: 0;
}

#footer .social-links a {
  height: 27px;
  width: 27px;
  text-align: center;
  vertical-align: middle;
  background: var(--light-blue);
}

#footer .social-links a:hover {
  background: #fff;
}

#footer .social-links svg {
  width: 15px;
  height: 27px;
}

#footer .copyright {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 0.075em;
  margin-bottom: 50px;
}

#footer .copyright em {
  font-style: normal;
  color: #c8c8c8;
  display: block;
  margin-bottom: 1em;
}

#footer .wustl {
  background: var(--darkest-gray);
  padding: 50px 7.5%;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.075em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
}

#footer .wustl .logo {
  width: 100%;
  width: 240px;
  height: 30px;
}

#footer .wustl address {
  margin-left: 20px;
}

#footer .wustl address a {
  color: var(--light-blue);
}

#footer .wustl address a:hover {
  color: #fff;
}

#footer .callout {
  background: var(--darkest-gray);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
}

#footer .footer-top .callout {
  padding: 50px 0;
}

#footer .footer-top .callout .inner {
  max-width: 207px;
}

#footer .footer-top .callout p {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 1.2em;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

#footer .footer-top .callout p a {
  color: var(--light-blue);
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#footer .footer-top .callout p a:hover {
  color: #fff;
}

#footer .footer-top .callout em {
  color: var(--gold);
  font-style: normal;
  margin-bottom: 1em;
  display: block;
}

#footer .footer-top .callout .button {
  font-weight: 600;
}

#footer .footer-bottom .callout {
  padding: 35px 7.5%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#footer .footer-bottom .callout h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 226px;
}

#footer .footer-bottom .callout .logo {
  height: 96px;
  width: 254px;
}

#footer .footer-bottom .campaign-callout {
  padding: 30px 7.5% 25px;
}

#footer .footer-bottom .campaign-callout img {
  width: 50px;
}

#footer .footer-bottom .campaign-callout .text {
  margin: 0 0 0 20px;
}

#footer .footer-bottom .campaign-callout h3 {
  font-size: 17px;
  width: auto;
  border-bottom: 2px solid #fff;
  padding: 0 0 4px 0;
  margin: 0 0 7px 0;
  letter-spacing: 0.16em;
  font-weight: normal;
}

#footer .footer-bottom .campaign-callout h3 em {
  font-size: 24px;
  letter-spacing: 0;
}

#footer .footer-bottom .campaign-callout p {
  font-size: 11px;
  font-weight: bold;
}

#footer .logo {
  fill: currentColor;
}

#footer h3 {
  font-size: 20px;
}

@media all and (min-width: 768px) {
  #footer .footer-bottom .callout {
    padding: 35px 0;
  }
  #footer .footer-bottom .callout h3 {
    border-right: 3px solid #fff;
    text-align: right;
    margin: 0 35px 0 0;
    padding: 4px 35px 4px 0;
  }
  #footer .footer-bottom .callout h3 br {
    display: block;
  }
  #footer .footer-bottom .campaign-callout {
    padding: 30px 0 25px;
  }
  #footer .footer-bottom .campaign-callout img {
    width: 95px;
  }
  #footer .footer-bottom .campaign-callout .text {
    margin: 0 0 0 35px;
  }
  #footer .footer-bottom .campaign-callout h3 {
    border-right: 0;
    font-size: 28px;
    padding: 0 0 4px 0;
    margin: 0 0 7px 0;
  }
  #footer .footer-bottom .campaign-callout h3 em {
    font-size: 34px;
  }
  #footer .footer-bottom .campaign-callout p {
    font-size: 17px;
  }
  #footer .wustl {
    padding: 50px 90px;
  }
  #footer .wustl .logo {
    width: 334px;
  }
  #footer .wustl address {
    margin-left: 28px;
  }
}

@media all and (min-width: 1030px) {
  #primary-nav.move {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  #footer .footer-top .footer-nav {
    width: calc(100% - 350px);
  }
  #footer .footer-top .callout {
    width: 350px;
  }
  #footer .footer-nav {
    padding: 50px 90px;
  }
  #footer .copyright {
    margin-bottom: 0;
  }
  #footer .footer-bottom .callout {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  #footer .wustl {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
