.top-scroll main {
  position: relative;
}

.top-scroll-container {
  position: absolute;
  top: 90vh;
  right: 0.25rem;
  bottom: -5em;
  width: 3em;
  pointer-events: none;

  ul {
    list-style: none;
    margin: 0;
    position: fixed;
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 5rem);
    z-index: 1;
  }

  .v-dot-link {
    svg {
      height: 32px;
      width: 32px;
      background-color: #151515;
      z-index: 3;
      text-align: center;
      display: flex;
      color: var(--dark-blue);
      border: 2px solid var(--white);
      align-items: center;
      justify-content: center;
      border-radius: 21px;
      margin-right: var(--gutter);
      padding: 6px;
    }

    svg:focus,
    svg:hover {
      border: 2px solid var(--dark-blue);
    }
  }
}
#top-scroll {
  display: none;
  position: fixed;
  right: var(--xxlg);
  z-index: 99;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  padding: var(--sm-md);
  border-radius: 4px;
  height: 29px;
  width: 29px;
  background-color: var(--red);
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 35px;
  padding: 0px;
}
.fas {
  line-height: 1.6px;
}
#top-scroll:hover {
  background-color: var(--dark-red);
}
@media (min-width: 0em) and (max-width: 425px) {
  .top-scroll {
    .top-scroll-container {
      visibility: hidden;
    }
  }
}
