/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: var(--light-gray);
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: var(--red);
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */

#content[tabindex='-1']:focus {
  outline: 0;
}

.logged-in #main-nav-toggle {
  top: 127px;
}

.logged-in:not(.role-administrator) #toolbar-menu .path-admin-config {
  display: none;
}

@media all and (min-width: 768px) {
  .logged-in #main-nav-toggle {
    top: 107px;
  }
}

#content .field-collection-view,
#content .field-collection-container {
  margin: 0;
  padding: 0;
  position: relative;
}

#content .field-collection-view .field-collection-view-links {
  right: auto;
  left: 0;
}

#content .drupal-edit-link,
#content .field-collection-view-links {
  background: #cccccc;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  padding: 2px 6px;
}

#content .field-collection-view-links li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

#content .field-collection-view-links a {
  display: block;
  text-align: center;
  margin: 0;
  padding: 4px 6px;
  font-weight: bold;
}

#content .field-collection-view-links a:hover {
  color: var(--white);
}

#content .drupal-edit-link {
  background: #cccccc;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  color: var(--black);
  padding: 2px 10px;
  font-size: 1px;
  font-weight: bold;
}

#content .messages {
  margin: 0;
}

#user-login {
  max-width: 600px;
  margin: 0 auto;
}

.yourtheme-user-login-form-wrapper
  div.form-actions.form-wrapper
  input#edit-submit.button.red.form-submit {
  background: #fff !important;
}

.yourtheme-user-login-form-wrapper div.description {
  display: none;
}

div#shib_login_url {
  border-bottom: solid;
  margin-bottom: 3em;
  margin-top: 10em;
}

a.button.red.bat-lantern.extra {
  margin-top: 0.5em;
}

a.button.red.bat-lantern.extra:hover {
  background: #555;
}

@media print {
  .reveal,
  .filtered article {
    visibility: visible !important;
    opacity: 1 !important;
  }
  #header {
    background: none !important;
  }
  #header .logo {
    background: none !important;
  }
  #header .logo .img {
    fill: #000 !important;
  }
  #header .logo img {
    content: url('/sites/all/themes/olympian/images/logo-art-sci-color.svg');
  }
  #main-nav-toggle,
  #main-nav,
  #header .page {
    display: none !important;
  }
  #footer {
    display: none !important;
  }
  .search,
  .pagination,
  .print,
  .add-to-cal {
    display: none;
  }
  .academic-calendar #photo-header {
    display: block !important;
  }
  #photo-header {
    color: #000 !important;
    background: none !important;
    min-height: 0 !important;
  }
  #photo-header .image {
    display: none;
  }
  #photo-header .container {
    padding: 20px 0 40px !important;
  }
  #photo-header h1 {
    font-size: 24px !important;
  }
  .cta {
    display: none !important;
  }
  .cal-post {
    display: block !important;
    text-align: left !important;
    min-height: 1px !important;
    margin-bottom: 20px !important;
  }
  .cal-date {
    display: block !important;
    text-align: left !important;
    font-size: 16px !important;
    padding: 0 !important;
    width: 100% !important;
    background: none !important;
  }
  .cal-details {
    display: block !important;
    text-align: left !important;
    padding: 5px 0 0 !important;
    width: 100% !important;
    font-size: 14px !important;
    background: none !important;
  }
  .share,
  .post-nav,
  .more-posts,
  .comment-wrapper {
    display: none !important;
  }
}
.combo .news h2,
.not-found #photo-header h1 {
  font-family: var(--sans-serif);
}
/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

@-webkit-keyframes nav-open {
  from {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@keyframes nav-open {
  from {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes nav-close {
  from {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  to {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
}

@keyframes nav-close {
  from {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  to {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
}
/*--------------------------------------------------------------
# Text Only
--------------------------------------------------------------*/

.text-only {
  padding: 80px 0 50px;
}

.text-only.gray {
  background: var(--light-gray);
}

.text-only h2 {
  font-size: 23px;
}

.page-events-landing-page .subscribe {
  color: var(--gray);
}
