@import '../base/_breakpoints.scss';

//=======================================================
// Mixins
//=======================================================
@mixin fullwidth-container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

// Clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

@mixin fas() {
  font-smooth: auto;
  font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

// Gold Bracket ///////////////

@mixin bracket() {
  position: relative;
  @include margin($top: var(--sm), $bottom: var(--sm));
  padding: var(--md);

  &:before,
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    width: var(--sm);
    height: 100%;
    border: 3px solid var(--dark-red);
  }

  &:before {
    left: -1em;
    border-right: 0;
  }

  &:after {
    right: -1em;
    border-left: 0;
  }
}

//////////  Padding/Margin

@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

//////////  Responsive BG Image

@mixin responsive-bg {
  [data-responsive-background-image] {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  [data-responsive-background-image] img {
    display: none;

    .no-js & {
      display: block;
    }
  }
}

// mixins

@mixin text-light {
  color: #edeceb !important;
}
@mixin fullwidth-container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

@mixin list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}

@mixin list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

@mixin list-group-item {
  position: relative;
  display: block;
  padding: 0 0 var(--gutter);
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  &:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 0;
  }
}

@mixin list-group-flush {
  .list-group-item {
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
  }

  .list-group-item:first-child {
    border-top-width: 0;
  }

  &:last-child .list-group-item:last-child {
    border-bottom-width: 0;
  }
}

@mixin media-body {
  flex: 1;
}

@mixin card-columns {
  column-count: 3;
  column-gap: var(--gutter);
  orphans: 1;
  widows: 1;
}

@mixin container-width {
  margin: 0 var(--gutter);
  position: relative;

  @include breakpoint(page-container) {
    max-width: 81.875em;
    margin: 0 auto;
  }
}

%no-ul-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
  }
}

%container {
  margin: 0 var(--gutter);
  position: relative;

  @include breakpoint(page-container) {
    max-width: 81.875em;
    margin: 0 auto;
  }
}

// Font Smoothing ///////////////
%font-smoothing-on {
  font-smoothing: antialiased;
  font-smooth: auto;
}

%font-smoothing-off {
  font-smoothing: auto;
  font-smooth: auto;
}

// utility classes

%olympian-component--center {
  @include center(both);
  display: block;
  text-align: center;
}

%olympian-component--flex-center {
  @include center(both);
  flex-flow: column nowrap;
  text-align: center;

  @include breakpoint(sm) {
    padding: 1.5rem 0;
  }
}

%olympian-component--left {
  text-align: left;
  @include center(both);
}

%olympian-component--flex-left {
  flex-flow: column nowrap;
  text-align: left;
  width: 100%;
  padding: 1.5rem 0;
}

// This function creates a clamp rule between the sm breakpoint of 600px and our container width which is 1310 px
@function containerClamp($minVal, $maxVal) {
  $remsize: 16;
  $min: $minVal;
  $max: $maxVal;

  // Make sure pixels are expressed in rems for min.
  @if (type-of($min) == 'number') and ($min != 0) {
    @if (unit($min) == 'px') {
      $min: ($min/1px) / $remsize + 0rem;
    }
  }

  // Make sure pixels are expressed in rems for max.
  @if (type-of($max) == 'number') and ($max != 0) {
    @if (unit($max) == 'px') {
      $max: ($max/1px) / $remsize + 0rem;
    }
  }

  // Calculate the slope times the x for the function.
  $slope: ((($max/1rem * $remsize) - ($min/1rem * $remsize)) / 710);
  $slopeX: $slope * 100;
  // Round the slope to 4 decimal places.
  $slopeX: decimal-round($slopeX, 4);
  $intercept: ($min - (($slope + 0rem) * 600) / $remsize);
  // Round the intercept to 4 decimal places.
  $intercept: decimal-round($intercept, 4);
  $operator: if($intercept < 0, '-', '+');

  // $prefVal: 'calc(' + $slopeX + 'vw ' + $operator + ' ' + $intercept +')';
  // @return unquote('clamp(' + $min + ', ' + $prefVal + ', ' + $max + ')');
}

// This is taken from here : https://gist.github.com/terkel/4373420 .
@function decimal-round($number, $digits: 0, $mode: round) {
  $n: 1;
  // $number must be a number
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }
  // $digits must be a unitless number
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @for $i from 1 through $digits {
    $n: $n * 10;
  }
  @if $mode == round {
    @return round($number * $n) / $n;
  } @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  } @else if $mode == floor {
    @return floor($number * $n) / $n;
  } @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}

////// Flexbox

@mixin flexbox {
  display: flex;
}

//fg flex-grow fs flex-shrink fb flex-basis
@mixin flex($fg: 1, $fs: 0, $fb: auto) {
  flex: $fg $fs $fb;
}

@mixin flex-direction($value: row) {
  flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
  flex-wrap: $value;
}

@mixin order($int: 0) {
  order: $int;
}

// vertical center mixin
@mixin center($position) {
  display: flex;

  @if $position== 'both' {
    align-items: center;
    justify-content: center;
  } @else if $position== 'vertical' {
    align-items: center;
  } @else if $position== 'horizontal' {
    justify-content: center;
  } @else if $position== 'none' {
    align-items: stretch;
    justify-content: flex-start;
  }
}
