
<div class="container search">
  <div class="search-form">
    <svg class="icon">
      <use xlink:href="#icon-search"></use>
    </svg> {{ form.search }}
  </div>
</div>
<div class="container categories">
  {{ form.sort_by }}
</div>

<br>
