<a class="card" href="/contact-us">
  <div class="resource-card">
    <div class="image">
      <img src="{{ base_path ~ directory }}/images/contact.png" alt="Washington University in St. Louis">
    </div>
    <div class="details">
      <h3>Don’t see what you’re looking for?</h3>
      <p>Contact Us</p>
    </div>
  </div>
</a>
