/*--------------------------------------------------------------
# Additional Resources
--------------------------------------------------------------*/
.additional-resources {
  background: var(--light-gray);
  padding: 50px 0;

  h2 {
    font-size: 24px;
    color: var(--dark-red);
  }

  li {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
  }

  h3 {
    font-size: 14px;
    margin-bottom: 0.25em;
  }

  p {
    font-family: var(--serif);
    font-style: italic;
    color: #686f6f;
  }

  a {
    color: var(--red);
  }

  a:hover {
    color: var(--dark-red);
  }

  .icon {
    fill: var(--red);
    width: 14px;
    height: 14px;
    margin-left: 5px;
  }

  @media all and (min-width: 600px) {
    h2 {
      font-size: 30px;
      width: 100%;
    }

    ul {
      column-count: 2;
    }

    li {
      padding-left: 30px;
    }
  }

  @media all and (min-width: 1030px) {
    padding: 80px 0;
    h2 {
      margin-bottom: 42px;
    }

    li {
      padding-left: 70px;
    }
  }
}
section.callout {
  h2 {
    font-size: 40px;
    color: var(--dark-red);
  }
}
