.not-found {
  #photo-header {
    .container {
      max-width: 600px;
      position: relative;
      z-index: 1;
    }
    p {
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 1.25em;
      text-transform: uppercase;
    }
    h1 {
      font-family: var(--sans-serif);
      line-height: 1;
      margin-bottom: 10px;
      color: var(--gold);
    }
  }
  a.button {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    border: 2px solid;
    display: inline-block;
    letter-spacing: var(--kern-md);
    padding: 7px 10px 6px;
    font-size: 13px;
    font-weight: bold;
    transition: 0.2s;
    box-sizing: border-box;
    color: var(--red);
    border-color: var(--dark-red);
    font-family: var(--sans-serif);
  }
}
@media (min-width: 768px) {
  .not-found {
    #photo-header {
      h1 {
        font-size: 150px;
      }
      .container {
        padding: 150px 0 120px;
      }
      p {
        font-size: 45px;
      }
    }
  }
}

@media all and (min-width: 600px) {
  not-found {
    .search {
      margin-left: 10px !important;
    }
  }
}
.not-found {
  .search {
    margin-bottom: 45px;
    max-width: 310px;
    border: none;
    form {
      &:after {
        content: '';
        border-bottom: 2px solid #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 48px);
      }
    }
    input[type='text'] {
      margin-bottom: 0;
      color: #fff;
      border: 2px solid rgba(255, 255, 255, 0);
      padding-left: 10px;
      transition: 0.2s;
      height: 51px;
      &::placeholder {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: var(--font-weight-medium-bold);
        letter-spacing: var(--kern-lg);
        color: #fff;
        transition: 0.2s;
        transition: 0.2s;
        line-height: 31px;
      }
      &::placeholder {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: var(--font-weight-medium-bold);
        letter-spacing: var(--kern-lg);
        color: #fff;
        transition: 0.2s;
        transition: 0.2s;
        line-height: 31px;
      }
      &:focus {
        outline: 0;
        border: 2px solid #fff;
        &::placeholder {
          opacity: 0.5;
        }
        &::placeholder {
          opacity: 0.5;
        }
      }
    }
    button {
      right: 0;
      left: auto;
      height: 48px;
      width: 48px;
      top: 50%;
      margin-top: -24px;
      &:hover {
        svg {
          fill: var(--gold);
        }
      }
    }
    svg {
      transition: 0.2s;
      width: 24px;
      height: 24px;
      fill: #fff;
    }
  }
  .button {
    background: #fff;
    &:hover {
      background: rgba(255, 255, 255, 0.85) !important;
    }
  }
}
#photo-header {
  .search {
    input[type='text'] {
      background: 0 0;
    }
  }
  h1 {
    margin: unset;
  }
}
.quicklinks {
  .icon {
    fill: var(--light-blue);
    margin-right: 8px;
  }
}
.page-node-type-page-not-found {
  .region--page-title {
    display: none;
  }
}
